// Add your custom CSS here.
main {
    .top-bar {
        background-color: $primary;
        &__nav {
            color: $white;
        }
        &__countdown {
            background-color: $secondary !important;
            color: $primary !important;
        }
    }

    .header {
        background-color: $primary;
        &__search-btn {
            color: $primary;
        }
        &__logo{
            width: 100%;
        }
    }

    #cart-count {
        background-color: $success;
    }

    .fa-user:hover {
        color: $secondary;
        filter: drop-shadow(10px 10px 20px $white);
    }

    .fa-shopping-bag:hover {
        color: $secondary;
        filter: drop-shadow(10px 10px 20px $white);
    }

    .nav-desktop-list {
        background-color: $primary;
        color: $secondary;
    }

    .nav-item {
        a {
            color: $secondary;
        }
    }

    .nav-desktop-list {
        display: flex;
        margin: 8px;
        justify-content: space-around;
        width: 100%;
        list-style-type: none;
        li .nav-item .nav-item-desktop {
            margin: 16px;
        }
    }

    .custom-html:first-child {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: $primary;
              .html-clearfix {
            margin-top: 0;
        }
    }

    @media (min-width: 767px) {
        .header {
          top: 0px;
          z-index: 900;
        }
        .custom-html:first-child {
          position: sticky;
          top: 86px;
          z-index: 900;
          
          
        }
    }

   
        
}
